VITE_WALLETCONNECT_PROJECT_ID=
VITE_SUBGRAPH_URL=

VITE_GOVERNANCE_TOKEN_ADDRESS=
VITE_GOLD_TOKEN_ADDRESS=
VITE_AMM_ADDRESS=
VITE_VAULT_ADDRESS=
VITE_GOVERNOR_ADDRESS=
VITE_TIMELOCK_ADDRESS=
VITE_GAME_ITEMS_ADDRESS=
VITE_LOOT_ADDRESS=
VITE_CRAFTING_ADDRESS=
VITE_RENTAL_VAULT_ADDRESS=
